.myBtn{
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--decoration);
}

.myBtn:hover{
    background-color: var(--decoration);
}

.myBtn:disabled{
    background-color: var(--hover);
    border-color: var(--hover);
}

.myBtn img{
    height: 20px;
    filter: invert(90%);
}

.light .myBtn img{
    filter: none;
}