form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 500px;
    height: fit-content;
    padding: 1.5rem;
    background: rgba(245, 245, 245, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
}

.light form{
    background-color: var(--bg-dark);
    color: var(--primary-dark);
}

form input, form input::placeholder, form textarea, form textarea::placeholder{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: var(--decoration);
    border: none;
    border-radius: 5px;
    color: rgb(255, 219, 157);
}

form input{
    min-height: 40px;
    color: var(--primary-light);
    padding: 10px;
    margin-bottom: 10px;
}

form textarea{
    min-height: 100px;
    color: var(--primary-light);
    padding: 10px;
    resize: none;
    margin-bottom: 10px;
}

.light form input, .light form textarea{
    color: var(--primary-dark);
}

form input:focus, form textarea:focus{
    outline: none;
    border: 2px solid var(--primary-dark);
}

.light form input:focus, .light form textarea:focus{
    border-color: var(--primary-light);
}

form button{
    align-self: center;
    background-color: var(--bg-dark);
}

.light form button{
    background-color: var(--bg-light);
    color: var(--primary-light)
}

@media(max-width: 480px){
    form{
        min-width: 250px;
    }
}

@media(max-width: 340px){
    form{
        min-width: 150px;
    }
}