.education-accordion{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid var(--primary-dark);
}

.light .education-accordion{
    border-color: var(--primary-light);
}

.education-accordion:last-child{
    border: none;
}

.education-accordion > .header{
    border-bottom: 1px solid var(--primary-dark);
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
    height: 100px;
}

.light .education-accordion > .header{
    border-color: var(--primary-light);
}

.education-accordion.open > .header{
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.light .education-accordion.open > .header{
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

.education-accordion.open:first-child > .header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.education-accordion > .header img{
    width: 50px;
}

.education-accordion > .header > button{
    border: none;
    margin-left: auto;
    font-size: 30px;
}

.education-accordion.open > .header > button{
    color: var(--primary-light);
}

.light .education-accordion.open > .header > button{
    color: var(--primary-dark);
}

.education-accordion > .detail{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 75px;
    gap: 10px;
}

@media (max-width: 480px){
    .education-accordion h3{
        font-size: 16px;
    }
}