.contact{
    margin-top: 0;
}

.contact > div{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 100px;
    width: 100%;
    margin-top: 20px;
}

.contact ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 0 6rem 0;
}

.contact ul img{
    height: 40px;
    filter: invert(90%);
    transition: transform 0.3s ease-in-out;
}

.light .contact ul img{
    filter: none;
}

.contact ul img:hover{
    transform: scale(1.1);
}

@media(max-width: 1024px){
    .contact > div{
        flex-direction: column;
    }
    .contact ul{
        flex-direction: row;
        padding: 0 1rem 0 1rem;
    }
}

@media(max-width: 480px){
    .contact{
        padding: 0;
    }
}