header{
    height: 10vh;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-attachment: fixed;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}