section.projects{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
}

section.projects > p{
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-style: italic;
}

section.projects > div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 100px;
}

@media (max-width: 480px){
    section.projects{
        padding: 0;
    }
}
