.projects{
    margin-top: 0;
}

.projects > div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 100px;
}

@media (max-width: 480px){
    .projects{
        padding: 0;
    }
    .projects > div{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
