footer{
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    background-attachment: fixed;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}