.education{
    margin-top: 0;
}

.education > div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--bg-dark);
    border: 2px solid var(--primary-dark);
    border-radius: 10px;
    margin-bottom: 60px;
}

.light .education > div{
    background-color: var(--bg-light);
    border-color: var(--primary-light);
}

@media (max-width: 480px){
    .education{
        padding: 0;
    }
}