section.education{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: auto;
}

section.education > p{
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-style: italic;
}

section.education > div{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--bg-dark);
    border: 2px solid var(--primary-dark);
    border-radius: 10px;
    margin-bottom: 60px;
}

.light section.education > div{
    background-color: var(--bg-light);
    border-color: var(--primary-light);
}

@media (max-width: 480px){
    section.education{
        padding: 0;
    }
}